{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <h1 class="titleH1">L'équipe</h1>
    <a href="{{ path('team_new') }}"> <button class="btn btn-md btn-light">Ajouter un nouveau membre</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.firstname }}</td>
                <td>{{ team.role }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">Voir</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">Editer</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
