{% extends 'base.html.twig' %}

{% block title %}Nos spectacles{% endblock %}

{% block body %}
    <h1 class="table">Nos spectacles</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('spectacle_new') }}">Create new</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom du spectacle</th>
                <th>Date</th>
                <th>Tarif</th>
                <th>Billets disponibles</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for spectacle in spectacles %}
            <tr>
                <td>{{ spectacle.name }}</td>
                <td>{{ spectacle.date ? spectacle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ spectacle.price }}€</td>
                <td>{{ spectacle.availableTickets }}</td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('spectacle_show', {'id': spectacle.id}) }}">show</a>
                        <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">edit</a>
                    </td>
                {% endif %}
                {% if is_granted('USER') %}
                    <a href="#" class="btn btn-dark">Acheter des billets</a>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
