{% extends 'base.html.twig' %}

{% block title %}Nos spectacles{% endblock %}

{% block body %}
    <h1 class="titleH1">Nos spectacles</h1>
    <a href="{{ path('spectacle_new') }}"><button class="btn btn-md btn-light">Ajouter un nouveau spectacle</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du spectacle</th>
                <th>Date</th>
                <th>Tarif</th>
                <th>Billets disponibles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spectacle in spectacles %}
            <tr>
                <td>{{ spectacle.name }}</td>
                <td>{{ spectacle.date ? spectacle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ spectacle.price }}€</td>
                <td>{{ spectacle.availableTickets }}</td>
                <td>
                    <a href="{{ path('spectacle_show', {'id': spectacle.id}) }}">Voir</a>
                    <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
