{% extends 'base.html.twig' %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
    <h1 class="titleH1">Nos actualités</h1>
    <a href="{{ path('news_new') }}"><button class="btn btn-md btn-light">Ajouter une actualité</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.description }}</td>
                <td>{{ news.date ? news.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">Voir</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
